@model IEnumerable<UserListItem>

@{
    ViewData["Title"] = "Liste des utilisateurs";
}

<h1>Liste des utilisateurs</h1>

<p>
    <a asp-action="Register">Ajouter un utilisateur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id=item.UserId }) |
                @Html.ActionLink("Infos", "Details", new { id=item.UserId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id=item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
